{% if job.product_type %}
    <img onerror="handleImageFallback(this, {{ job.product_type.id }})" src="https://images.evetech.net/types/{{ job.product_type.id }}/icon?size=32" alt="{{ job.product_type.name }}" title="{{ job.product_type.name }}" width="24" height="24" class="me-2">
    {{ job.product_type.name }}
{% elif job.blueprint_type %}
    <img onerror="handleImageFallback(this, {{ job.blueprint_type.id }})" src="https://images.evetech.net/types/{{ job.blueprint_type.id }}/icon?size=32" alt="{{ job.blueprint_type.name }}" title="{{ job.blueprint_type.name }}" width="24" height="24" class="me-2">
    {{ job.blueprint_type.name }}
{% else %}
    <span class="text-muted">Unknown Item</span>
{% endif %}
